:root {
    color-scheme: light dark;
    --dark-color: hsl(0 0% 10%);
    --light-color: hsl(0 0% 97%);
}

html {
    color: light-dark(var( --dark-color), var(--light-color));
    background-color: light-dark(var(--light-color), var( --dark-color));
    font-family: "Mulish";
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
    html::-webkit-scrollbar {
        display: none;
    }

.headimg {
    width: 100vw;   
}

a {
    text-decoration: none;
   color:white;
   font-size:16px;
}


.star {
    color: darkorange;
}

[data-dark="true"] {
    color-scheme: dark;
}


[data-dark="false"] {
    color-scheme: light;
}


.headline {
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
    margin-left: 2em;
    /*margin-right: 1em;*/
}

    .headline span{
        font-size: 24px;
        color:white;
    }

    .switch {
        /*  position:fixed;*/
    }

.info{
    
    display: flex;
    justify-content:left;
    align-content:space-between;
}

.info span{
    width:30%;
}

.castList {
    display: flex;
   
    gap: 2rem;
}


.genres{
    display:flex;
    justify-content:space-between;
}

.genre {
    padding:4px;
    font-size: 10px;
    background-color: #DBE3FF;
    color: #88A4E8;
    border-radius:0.5em;
    text-align:center;
}